<h1>Create a Profile</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <% @user.errors.full_messages.each do |msg| %>
      <ul><li style="color: red"><%= msg %></li></ul>
    <% end %>
  </div>
<% end %>

<%=form_for @user do |f|%>
  <p><%=f.label :name%><br></p>
  <p><%=f.text_field :name%><br></p>
  <p><%=f.label :age%><br></p>
  <p><%=f.number_field :age%><br></p>
  <p><%=f.label :username%><br></p>
  <p><%=f.text_field :username%><br></p>
  <p><%=f.label :password%><br></p>
  <p><%=f.password_field :password%><br></p>
  <p><%=f.label "Upload an image (link)"%><br></p>
  <p><%=f.text_area :image_url%><br></p>
  <p><%=f.submit "Create Profile"%><br></p>
<%end%>