<%= form_for @user, method: :delete do |f| %>
    <h2 align=right><%= f.submit "Delete" %></h2>
<% end %> 
<br>
<div style="text-align:center;">
<h1 class="center">Guten Tag, <%= @user.name%>!</h1>
<p><img class="circle" src="<%= @user.image_url %>" height=250 width=250><p>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Name: </strong><%= @user.name %></p>
<p><strong>Age: </strong><%= @user.age %></p>
</div>

<%= form_tag(orders_path, :method => :get ) do %>
    <p style="text-align:center;"><%= submit_tag "View Order History" %></p>
<% end %>

<%= form_tag(edit_user_path, :method => :get ) do %>
    <p style="text-align:center;"><%= submit_tag "Edit Profile" %></p>
<% end %>
