<h1 align=left><%=@user.name%></h1>
<p align=left>Username: <%= @user.username %></p>
<p align=left>Name: <%= @user.name %></p>
<p align=left>Age: <%= @user.age %></p>
<p aling=left><img src="<%= @user.image_url %>"><p>

<%= form_tag(orders_path, :method => :get ) do %>
    <p align=left><%= submit_tag "View Order History" %></p>
<% end %>

<%= form_tag(edit_user_path, :method => :get ) do %>
    <p align=left><%= submit_tag "Edit Profile" %></p>
<% end %>

