<h1>View Cart</h1>

<% if @order_items.present? %>
  <% @order_items.each do |orderitem| %>
    <p align=left><strong><%= orderitem.item.name %></strong><br></p>
    <p align=left><img src="<%= orderitem.item.image_url %>" height= 50 width= 50><br></p>
    <p align=left><strong>Quantity:</strong> <%= orderitem.quantity %><br></p>
    <p align=left><strong>Price:</strong> <%= number_to_currency (orderitem.item.cost * orderitem.quantity) %><br></p>
    <%= form_tag(order_item_path(orderitem), :method => :delete) do %>
      <p align=left><%= submit_tag "Remove" %></p>
    <% end %>
  <% end %>
  <br><p align=left><strong>Your Total: </strong><%= number_to_currency current_order.total_price%></p>
  <p align=left><%= link_to "Checkout", confirmation_cart_path %></p>
<% else %>
  <p align=left> Your cart is currently empty.</p>
<% end %>
