<% if @order_items.any? %>
  <% @order_items.each do |orderitem| %>
    <%= orderitem.item.name %>
    <p> Cost: <%= number_to_currency orderitem.item.cost %>
        Quantity: <%= orderitem.quantity %>
        Total: <%= number_to_currency (orderitem.item.cost * orderitem.quantity) %>
        Your Total: <%= number_to_currency current_order.total_price%></p>
        <% end %>
<% else %>
  <p> Your cart is currently empty.</p>
<% end %>
