<h1>View Cart</h1>

<% if @order_items.present? %>
  <% @order_items.each do |orderitem| %>
    <%= orderitem.item.name %>
    <div> <img src="<%= orderitem.item.image_url %>" height= 50 width= 50>
    <div> Price: <%= number_to_currency orderitem.item.cost %><br>
        Quantity: <%= orderitem.quantity %>
        Total: <%= number_to_currency (orderitem.item.cost * orderitem.quantity) %><br><br>
        <% end %>
        <strong>Your Total: </strong><%= number_to_currency current_order.total_price%><br><br></div>
        <%= link_to "Checkout", confirmation_cart_path %>
<% else %>
  <p> Your cart is currently empty.</p>
<% end %>
