<% if flash[:success].present? %>
    <p style="color: green"><%= flash[:success] %></p>
<% end %>
<br>

<h1 class="center" style="text-align:center;">All Store Items</h1><br><br>

<% @items_store.each do |item| %>
<div class="containers">
    <a href="<%=item_path(item)%>"><img src="<%= item.image_url %>" height="200" width="250"></a><br>
    <%= link_to item.name, item_path(item) %><br>
    <p><strong>Price:</strong> <%= number_to_currency item.cost %><br></p>
    <br>
</div>
<% end %>
