<h1><%= @item.name %></h1>
<img src="<%= @item.image_url %>" height="200" width="300">

<p>Description: <%= @item.description %></p>
<p>Cost: $<%= @item.cost %></p>

<br>
<br>

<p>
<%= form_for @order_item do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.submit "Add to Cart" %>
<% end %>
</p>


<% if @item.bnb == true %>
    <%= link_to("Back to BnB", BnB_items_path(@item)) %>
<% else %>
    <%= link_to("Back to store", store_items_path(@item)) %>
<% end %>
