<h1 ><%= @item.name %></h1>
<img src="<%= @item.image_url %>" height="200" width="300">

<p>Description: <%= @item.description %></p>
<p>Cost: $<%= @item.cost %>0</p>

<br>
<br>

<p>
<%= form_for @order_item do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, min: 1%>
  <%= f.submit "Add to Cart" %>
<% end %>
</p>

<% if flash[:notice].present? %>
    <p style="color: green"><%= flash[:notice] %></p>
<% end %>
<br>

<h2>Customer Reviews</h2>
<p>

<% if @item.reviews.any? && current_user %>
<%= link_to "Leave a review", new_item_review_path(@item) %><br><br>
  <% @item.reviews.reverse.each do |review| %>
    Review by: <%= review.user.username %> <br>
    <%= review.created_at.strftime("%m-%d-%Y") %><br>
    Content: <%= review.content %><br>
    <%= review.rating %> out of 5 stars<br><br>
  <% end %>
<% elsif  @item.reviews.any? && !current_user %>
  You must be logged in to leave a review.<br><br>
  <% @item.reviews.each do |review| %>
    Review by: <%= review.user.name %> <br>
    Content: <%= review.content %><br>
    <%= review.rating %> out of 5 stars<br><br>
  <% end %>
<% else %>
  There aren't any reviews yet. Be the first to <%= link_to "leave a review", new_item_review_path(@item) %>!
<% end %>
</p>
