<h1><%= @item.name %></h1>
<p><img src="<%= @item.image_url %>" height="200" width="300"></p>


<p class="description"><strong>Description: </strong><%= @item.description %></p>
<p><strong>Cost: </strong>$<%= @item.cost %>0</p>
<br>
<br>

<p>
<%= form_for @order_item do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <p><strong><%= f.label :quantity %>
  <%= f.number_field :quantity, min: 1%></strong>
  <%= f.submit "Add to Cart" %></p>
<% end %>
</p>

<% if flash[:notice].present? %>
  <p style="color: green"><%= flash[:notice] %></p>
<% elsif %>
<p style="color: red"><%= flash[:alert] %></p>
<% end %>
<br>

<h2>Customer Reviews</h2>
<p>

<% if @item.reviews.any? && current_user %>
<%= link_to "Leave a review", new_item_review_path(@item) %><br><br>
  <% @item.reviews.reverse.each do |review| %>
    <strong>Review ID:</strong> <%= review.id %><br>
    <strong>Review by:</strong> <%= review.user.username %> <br>
    <strong>Date Created: </strong><%= review.created_at.strftime("%m-%d-%Y") %><br>
    <strong>Content:</strong> <%= review.content %><br>
    <strong>Rating:</strong> <%= review.rating %> out of 5 stars
    <%= form_for(review, url: edit_item_review_path(id: review.id, item_id: review.item_id), method: :get) do |f| %>
      <p><%= f.submit "Edit" %></p>
    <% end %>
    <% if review.user_id == current_user.id %>
      <%= form_for(review, url: item_review_path(id: review.id, item_id: review.item_id), method: :delete) do |f| %>
        <p><%= f.submit "Delete" %></p>
      <% end %>
    <% end %>
  <% end %>
<% elsif  @item.reviews.any? && !current_user %>
  You must be logged in to leave a review.<br><br>
  <% @item.reviews.each do |review| %>
    Review by: <%= review.user.name %> <br>
    Content: <%= review.content %><br>
    <%= review.rating %> out of 5 stars<br>
    <br>
  <% end %>
<% else %>
  <% if current_user %>
    There aren't any reviews yet. Be the first to <%= link_to "leave a review", new_item_review_path(@item) %>!
  <% else %>
    You must be logged in to leave a review.
  <% end %>
<% end %>
</p>
