<h1>Write a Review</h1>


<% @item = Item.find(params[:item_id]) %>

<% if @errors.present? %>
  <div id="error explanation">
    <% @errors.each do |msg| %>
    <ul style="color: red"><%= msg %></ul>
    <% end %>
  </div>
<% end %>

<p align=left><img src="<%=@item.image_url %>" height=150 width=200 ></p>
<p align=left><%= @item.name %></p><br>

<p>
<%= form_for @review, url: item_reviews_path(@item) do |f| %>
  <p align=left><strong><%= f.label :content %></strong></p>
  <p align=left><%= f.text_area :content, cols: "30", rows: "5" %></p>
  <p align=left><strong><%= f.label :rating%><br></strong></p>
  <p align=left><%= f.radio_button :rating, '1' %> 1
  <%= f.radio_button :rating, '2' %> 2
  <%= f.radio_button :rating, '3' %> 3
  <%= f.radio_button :rating, '4' %> 4
  <%= f.radio_button :rating, '5' %> 5
  </p>
  <p align=left><%= f.submit "Create Review" %></p>
<% end %>
</p>
